.instructor-profile {
  font-family: Arial, sans-serif;
}

header {
  background: #000;
  color: #fff;
  padding: 100px 0;

}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header .join-class a {
  color: #fff;
  background: red;
  padding: 10px 20px;
  text-decoration: none;
}

.banner {
  margin-top: 30px;
  background: url('../../images/login/banner.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  height: 220px;
  margin-top: 0px;
}
/* 
.profile-details .container {
  text-align: center;
  padding: 20px;
}

.profile-details h2 {
  font-size: 48px;
  color: #666;
}

.instructor-info {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.instructor-image {
  border-radius: 10px;
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.instructor-info h3 {
  font-size: 24px;
}

.instructor-info p {
  font-size: 18px;
  color: #888;
}

.instructor-info hr {
  margin: 20px 0;
}

.instructor-info h4 {
  font-size: 20px;
}

.instructor-info ul {
  list-style: none;
  padding: 0;
}

.instructor-info ul li {
  font-size: 16px;
  color: #444;
} */