.cancel {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 23px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.link {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-crimson-200);
  border-radius: var(--br-2xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.link:hover {
  background-color: var(--color-crimson-100);
}
