.sectionIcon {
  width: 1440px;
  height: 1096px;
  margin: 0 !important;
  position: absolute;
  top: 405px;
  right: -2px;
  flex-shrink: 0;
  object-fit: cover;
}
.payment,
.paymentInner,
.paymentMethod {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paymentInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 80px var(--padding-94xl) 79px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.payment,
.paymentMethod {
  position: relative;
}
.payment {
  height: 2220px;
  flex: 1;
  background-color: var(--color-white);
  overflow-y: auto;
  flex-direction: column;
  padding: 0 0 410.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.paymentMethod {
  width: 100%;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1250px) {
  .payment {
    height: auto;
    padding-bottom: 267px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .payment,
  .paymentInner {
    padding-bottom: 73px;
    box-sizing: border-box;
  }
  .payment {
    padding-bottom: 174px;
  }
}
@media screen and (max-width: 750px) {
  .paymentInner {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-21xl);
    padding-bottom: 47px;
    box-sizing: border-box;
  }
  .payment {
    padding-bottom: var(--padding-94xl);
    box-sizing: border-box;
  }
}
