.workingHours {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 33px;
  font-weight: 700;
  font-family: inherit;
}
.background {
  width: 70px;
  height: 4px;
  position: relative;
  background-color: var(--color-crimson-300);
  z-index: 1;
}
.workingHoursParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.am2100pm,
.mondayFriday {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.am2100pm {
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.schedule {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.am1900pm,
.saturday {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.am1900pm {
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.schedule1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
}
.closed,
.sunday {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.closed {
  font-weight: 500;
  z-index: 1;
}
.schedule2,
.workingHoursContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.schedule2 {
  align-self: stretch;
}
.workingHoursContainer {
  flex: 1;
  gap: var(--gap-base);
  min-width: 114px;
}
.classesContainer,
.container1 {
  justify-content: flex-start;
  max-width: 100%;
}
.classesContainer {
  width: 329px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 329px;
  row-gap: 20px;
}
.container1 {
  flex: 1;
  padding: 0 0 var(--padding-lg-3);
  box-sizing: border-box;
  gap: var(--gap-290xl-9);
  min-height: 271.31px;
}
.bottomContainer,
.container,
.container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.container {
  width: 1240px;
  justify-content: flex-start;
  padding: var(--padding-81xl) var(--padding-6xl);
  box-sizing: border-box;
  max-width: 1240px;
}
.bottomContainer {
  align-self: stretch;
  justify-content: center;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .classesContainer {
    flex: 1;
  }
  .container1 {
    flex-wrap: wrap;
    gap: var(--gap-136xl);
  }
}
@media screen and (max-width: 750px) {
  .container1 {
    gap: var(--gap-58xl);
  }
  .container {
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .workingHours {
    font-size: var(--font-size-lg);
    line-height: 26px;
  }
  .classesContainer {
    flex-wrap: wrap;
  }
  .container1 {
    gap: var(--gap-20xl);
  }
}
