.flexfitRemovebgPreview1Icon {
  width: 123px;
  height: 72px;
  position: relative;
  object-fit: contain;
  cursor: pointer;
}
.comprehensiveProgramDesigned,
.reachYourFitness,
.takeYourHealth {
  margin: 0;
}
.takeYourHealthContainer {
  position: relative;
  line-height: 22.5px;
  font-weight: 500;
}
.frameIcon {
  width: 38px;
  height: 38px;
  position: relative;
}
.img {
  border-radius: var(--br-9980xl);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameIcon1,
.img,
.img1 {
  height: 38px;
  width: 38px;
}
.frameIcon1 {
  position: relative;
}
.img1 {
  border-radius: var(--br-9980xl);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameIcon2,
.img2 {
  height: 38px;
  width: 37.4px;
}
.frameIcon2 {
  position: relative;
}
.img2 {
  border-radius: var(--br-9980xl);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameIcon3 {
  width: 40.3px;
  height: 38px;
  position: relative;
}
.footerDescription,
.footerIcons,
.footerLogoContainer,
.img3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.img3 {
  height: 38px;
  width: 40.3px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-whitesmoke-200);
  flex-direction: column;
}
.footerDescription,
.footerIcons,
.footerLogoContainer {
  flex-direction: row;
  gap: var(--gap-mid-5);
}
.footerDescription,
.footerLogoContainer {
  flex-direction: column;
  gap: var(--gap-xl-2);
}
.footerLogoContainer {
  margin-top: -7.9px;
  gap: var(--gap-smi);
  min-width: 396px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1050px) {
  .footerLogoContainer {
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .footerLogoContainer {
    min-width: 100%;
  }
}
