.experience,
.frameChild {
  position: relative;
  z-index: 1;
}
.frameChild {
  width: 1129px;
  max-height: 100%;
  object-fit: contain;
  max-width: 100%;
}
.experience {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 170.9%;
  font-weight: 700;
  font-family: inherit;
}
.gymEnthusiast,
.provincialAthlete,
.yearsGymTrainer {
  margin: 0;
}
.yearsGymTrainerContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 170.9%;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.experienceYears {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.experienceParent {
  width: 349px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  flex-shrink: 0;
  max-width: 100%;
}
.imageIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 1;
}
.experienceImage {
  height: 335px;
  width: 322px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-30xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.experienceContainer,
.experienceDetails,
.lineParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.experienceContainer {
  width: 1253px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.experienceDetails,
.lineParent {
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xl);
  box-sizing: border-box;
}
.lineParent {
  flex-direction: column;
  padding: 0 0 var(--padding-7xl) var(--padding-xl);
  gap: var(--gap-29xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-700);
  font-family: var(--font-outfit);
}
@media screen and (max-width: 750px) {
  .experience {
    font-size: var(--font-size-13xl);
    line-height: 55px;
  }
  .yearsGymTrainerContainer {
    font-size: var(--font-size-7xl);
    line-height: 44px;
  }
  .experienceContainer {
    flex-wrap: wrap;
  }
  .lineParent {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .experience {
    font-size: var(--font-size-5xl);
    line-height: 41px;
  }
  .yearsGymTrainerContainer {
    font-size: var(--font-size-lgi);
    line-height: 33px;
  }
}
